.main-board {
  position: absolute;
  inset: 0;
  z-index: 10;
  overflow: hidden;
  background-color: transparent; 
}

.main-board::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
  background-image: inherit; 
  background-size: cover;
  background-position: center;
  
  /* Constant Zoom */
  transform: scale(1.2); 
  transform-origin: center;
}

.scrapbook-root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage-content {
  /* This ensures the 'stage' takes up the whole board */
  width: 100%;
  height: 100%;
  display: flex;           /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  position: relative;
  z-index: 20;
}